.panda-card{
border: 0px!important;
}
.pander-card-footer{
background-color: white!important;
border: 0px!important;
}
.cetagories img{
    width: 100px;
    border-radius: 5px;
    
}

.panda-slide{
    background-color: #fceae8;
    border-radius: 5px;
}